In [2]:
import pandas as pd
import numpy as np
from umap import UMAP
from sklearn.manifold import TSNE
from pathlib import Path

In [3]:
results = pd.read_csv(Path("data/object_results.csv"))

In [4]:
results

,Object Id,XMin,XMax,YMin,YMax,171Yb_Renin Cell Intensity,175Lu_Aqu1 Cell Intensity,176Yb_H3 Cell Intensity,191Ir_DNA1 Cell Intensity,193Ir_DNA2 Cell Intensity,...,166Er_Col-IV Cell Intensity,169Tm_WT1 Cell Intensity,170Er_CD3 Cell Intensity,89Y_CD45 Cell Intensity,Cell Area (µm²),Cytoplasm Area (µm²),Membrane Area (µm²),Nucleus Area (µm²),Nucleus Perimeter (µm),Nucleus Roundness
0,0,1404,1407,853,856,16.600000,0.00000,0.0000,0.000000,0.000000,...,36747.300000,512.000000,0.000000,0.0,10,0,10,0,0,0.000000
1,1,1058,1062,913,916,0.000000,18021.87500,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,8,0,8,0,0,0.000000
2,2,1058,1065,915,925,5.627119,27317.44100,304.6271,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.0,59,26,33,0,0,0.000000
3,3,1159,1161,1333,1334,0.000000,0.00000,1123.3334,0.000000,0.000000,...,0.000000,2730.666700,0.000000,0.0,6,0,6,0,0,0.000000
4,4,1480,1503,790,816,1.870787,1060.32300,2361.5030,811.800540,1056.441000,...,1477.500000,1101.657300,10.233146,0.0,356,205,0,151,57,0.599115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4371,4371,425,451,783,810,2.902098,13988.01400,2498.9720,28.318182,46.484264,...,12.797203,334.769230,0.000000,0.0,572,511,0,61,30,0.859234
4372,4372,767,795,787,805,2.903790,261.80760,2408.4170,1602.507300,1946.548100,...,474.020420,77.620995,0.000000,0.0,343,265,0,78,36,0.811386
4373,4373,117,135,785,802,6.973282,15722.19800,2521.2786,2112.049600,2351.213600,...,10787.790000,3267.420000,264.038180,0.0,262,217,0,45,26,0.833814
4374,4374,508,532,785,813,1.400844,63.42405,948.7743,1184.464100,1449.856600,...,251.590710,259.240500,0.000000,0.0,474,373,0,101,38,0.841830
4375,4375,669,696,786,812,1.778571,218.98572,2573.1768,1610.069700,1874.737500,...,15.607142,427.885700,0.000000,0.0,560,517,0,43,25,0.838024

In [5]:
ignore_columns = "Object Id,XMin,XMax,YMin,YMax,Cell Area (µm²),Cytoplasm Area (µm²),Membrane Area (µm²),Nucleus Area (µm²),Nucleus Perimeter (µm),Nucleus Roundness"

In [ ]:
results.loc[:,~results.columns.isin(ignore_columns.split(","))]

In [6]:
embedding = UMAP().fit_transform(results.loc[:, ~results.columns.isin(ignore_columns.split(","))])

In [7]:
embedding

array([[ 0.9887819 , -1.6457998 ],
       [14.785393  ,  4.1165514 ],
       [14.738329  ,  4.245052  ],
       ...,
       [10.261692  ,  3.5573642 ],
       [ 1.4452888 ,  4.7399077 ],
       [ 0.86579174,  4.6660256 ]], dtype=float32)

In [8]:
embedding_df = pd.DataFrame(embedding).rename(columns={0: "umap_1", 1: "umap_2"})

In [9]:
results_with_umap = pd.concat([embedding_df.reset_index(drop=True), results], axis=1)

In [10]:
import sklearn.manifold

In [11]:
tsne_embeddings = sklearn.manifold.TSNE().fit_transform(results.iloc[:,5:30])

In [12]:
tsne_embeddings

array([[ 27.398108,  60.431458],
       [ 25.828173, -83.55188 ],
       [ 27.342714, -82.44355 ],
       ...,
       [ 17.703995, -30.271233],
       [-15.49983 ,  18.761396],
       [-18.802013,  22.147552]], dtype=float32)